*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
}
.container{
    background-color: black;
    min-height: 80vh;

}
.container .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .row .card{
   justify-content: center;
    align-items: center;
    text-align: center;

}
.container .row .card img{
    /* padding: 20px; */
    margin: 20px;
    border-radius: 30px;
    border: 1px solid yellow;
     height: 250px;
     width: 250px;
     box-shadow: 0px 1px 18px 5px rgba(223, 104, 104, 1.1);
     transition: transform 0.3s ease;

     
}
.container .row .card img:hover{
    transform: scale(1.1);
}
.container .row .card .btn{
    padding: 10px;
    color: white;
    background-color: red;
    margin: 20px;
    cursor: pointer;
    width: 30%;
    font-size: 15px;
    border-radius: 50px;
    border: none;

   
}
 iframe{
   min-height:80vh;
    background-color: gray;
    width: 100%;
     border: 4px solid #ff003c;
    box-shadow: 0 0 40px #ff003c;
    border-radius: 14px;
    overflow: hidden;
}
 a{
    margin: 10px;
}