*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgb(160, 11, 11);
    padding: 10px;
    font-size: 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    text-decoration: underline;
    color: white;
}
.head{
    background-color: black;
    color: white;
    min-height: 50vh;
    /* width: 50%; */
    text-align: center;
    padding-top: 50px;
    margin-left: -20%;
}
.tex-header{
    width: 50%;
    left: 50%;
    position: absolute;
    font-size: 40px;
     top: 50%;
     color: red;
     -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;

}
.head h1{
    font-size: 40px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: red;
}
.container{
    background-color: black;
    min-height: 80vh;
}
.container .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .row .card{
   justify-content: center;
    align-items: center;
    text-align: center;
}
.container .row .card img{
    margin: 20px;
    border-radius: 30px;
    border: 1px solid yellow;
     height: 250px;
     width: 250px;
     box-shadow: 0px 1px 18px 5px rgba(223, 104, 104, 1.1);
     transition: transform 0.3s ease;
}
.container .row .card img:hover{
    transform: scale(1.1);
}
.container .row .card .btn{
    padding: 10px;
    color: white;
    background-color: red;
    margin: 20px;
    cursor: pointer;
    width: 30%;
    font-size: 15px;
    border-radius: 50px;
    border: none;
}
 video{
   height:400px;
    width: 80%;
    overflow: hidden;
    margin-bottom:6%;
}
 a{
    margin: 10px;
}